body {
  font-family: 'Raleway';
}

.avatar {
  width: 100px;
}

.pagination {
  visibility: hidden;
  
  .active, .active:hover {
    background-color: rgba(0,150,129,0.5);
    color: #fff;
  }

  li>a, li>span {
    border: 0;
    margin: 0;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.6rem;
  }
  li:hover {
    cursor: pointer;
  }
  .dots:hover {
    background: transparent;
  }
}

table {
  width: 100%;
}

.table>thead>tr>th {
  font-size: 1.8rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(0,150,129,0.5);
  color: white;
}


.table-loader-wrapper {
  position: relative;
  min-height: 500px;

  .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 8rem;
    color: rgba(0,150,129,0.5);;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
